/* Write your CSS here */
.not-found-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.not-found-bg-light {
  background-color: #ffffff;
}
.not-found-bg-dark {
  background-color: #000000;
}
.not-found-responsive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  padding: 20px;
}
.not-found-img {
  width: 250px;
}
.not-found-heading {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 400;
}
.not-found-heading-text-light {
  color: #f8fafc;
}
.not-found-heading-text-dark {
  color: #000000;
}
.not-found-content {
  font-family: 'Robooto';
  font-size: 12px;
}
.not-found-context-text-light{
  color: #f8fafc;
}
.not-found-context-text-dark {
  color: #64748b;
}
